<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SIDCColaSyncer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SIDCColaSyncer.Properties.Settings>
            <setting name="HOST" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>c3VwZXJ2aXNvcg==</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="BASE_URL" serializeAs="String">
                <value>http://161.49.105.231:7557/spork_api_staging/api</value>
            </setting>
            <setting name="DESTINATION_DB" serializeAs="String">
                <value>im_main</value>
            </setting>
            <setting name="COLA_STUB_URL" serializeAs="String">
                <value>/cola_stub.php</value>
            </setting>
        </SIDCColaSyncer.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="branchCode" value="SIDC-1-2-1-3" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>